
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="main.css"> 
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700">
<link rel="shortcut icon" type="image/x-icon" href="recX.png" >


	<nav class="navbar navbar-inverse navbar-fixed-top" >
			<div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>                        
			  </button>
			 <a id="brand" class="navbar-logo" href="/#/posts" rel="nofollow"><img  ng-src="rx-logo-reversed-with-text (1).png" alt=""></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar	">
			  <div class="nav navbar-nav navbar-right">
			   <div id="filters" class="btn-group">  		
				  <button class="btn" >MIX</button>
				  <button class="btn" data-filter="Red"><img class="imag3" ng-src="reddit.png"   id="bottomImage"></button>
				  <button class="btn" data-filter="Twit"><img class="imag3" ng-src="Twitter_Logo_Blue.png"   id="bottomImage"></button>
				  <button class="btn" data-filter="RSS"><img class="imag3" ng-src="rss.png"   id="bottomImage"></button>  
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    User <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="#/settings">Settings</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="/#/" ng-click="logout($event)">Logout</a></li>
				  </ul>
				</div>
			  </div>
			</div>
			</div>
		</nav>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

 

	<div ng-controller="PostsCtrl" class="posts">
		<h3 class="empty" ng-show="empty">Currently we do not have any post for your preferences</h3>
		<div class="grid">
			<div data-ng-repeat="user in users">
				<div class="grid-item" data-toggle="modal" data-target="#myModal" data-src="{{user.source}}" data-url="{{user.url}}">

					<div  ng-if="user.source == 'Reddit'" >
						<div  ng-if="user.image != ' '"> 
							<a href="{{user.url | addHTTP}}" target="_blank">
								<img class="imag1"  ng-src="{{user.image}}">
							</a>
						</div>
					</div>
					<div  ng-if="user.source == 'Twitter' || user.source == 'RSS'" >
						<div  ng-if="user.image != ' '"> 
							<a href="{{user.url}}" target="_blank">
								<img class="imag1"  ng-src="{{user.image}}">
							</a>
						</div>
					</div>

					<!-- This line of code is needed for using filtering -->
					<h3 class="name">{{user.source}}</h3>

					<div  ng-if="user.source == 'Twitter'" ng-init=" myVar = user.description">
						<div class="title"><a  href="{{user.url}}" target="_blank" id="search" >{{myVar}}</a></div>
					</div>

					<div ng-if="user.source == 'RSS'" ng-init=" myVar = user.title">
						<div class="title"><a  href="{{user.url | removeBackSlash}}" target="_blank" id="search">{{myVar}}</a></div>
					</div>

					<div ng-if="user.source == 'Reddit'" ng-init=" myVar = user.title">
						<div class="title"><a  href="{{user.url | addHTTP}}" target="_blank" id="search">{{myVar}}</a></div>
					</div>

					<div  ng-if="user.source == 'Twitter'" ng-init="myVar = 'Twitter_Logo_Blue.png' " class="icon">
			        	<img class="imag2" ng-src="{{myVar}}"   id="bottomImage">
			        	<div class="date">{{user.published}}</div>
		            </div>

		            <div  ng-if="user.source == 'RSS'" ng-init="myVar = 'rss.png'" class="icon">
		                <img class="imag2" ng-src="{{myVar}}"   id="bottomImage">
		                <div class="date">{{user.published}}</div>
		            </div>

		            <div  ng-if="user.source == 'Reddit'" ng-init="myVar = 'reddit.png'" class="icon">
		            	<img class="imag2" ng-src="{{myVar}}"   id="bottomImage">
		            	<div class="date">{{user.published}}</div>
		            </div>


		            <div  ng-if="user.source == 'RSS' " >
		            	<div class="des">{{user.description | removeHTMLTags}}</div> 
		            </div>


				</div>
			<div>
		</div>
	</div>

<!--     HTML for modal. This modal works perefectly however we decided to orbit the idea of using a modal to display 
extenral websites inside feedMix as Twitter and Reddit would not display in an iframe due to restrictions set by both sites. 
	<!
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
	   
	  	<div class="modal-content">
	    	<div class="modal-header">
	      		<button type="button" class="close" data-dismiss="modal">&times;</button>
	      		<img class="imag3" src="rx-logo-reversed-with-text (1).png"   id="bottomImage"></button>
	    	</div>
	    <div class="modal-body">
	    	<p id="source" name="source">
	    	</p>
	       <iframe src="" id="info" class="iframe" name="info" seamless="" height="100%" width="100%">
		   </iframe>
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	   </div>

	  </div>
	  
	    </div>
	</div> -->


    <!-- https:\/\/twitter.com\/TheNextWeb\/status\/847090441606615040 -->




	
	
    <!--  The idea was to have the grid in a masonary layout but this was not working. -->
	<!-- // <script type="text/javascript" src="masonary.js"></script>  -->
	 