        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,50">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/bootstrap-tagsinput.css">
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>FeedMix</strong> </br> Login &amp; Register</h1>
                            <div class="description">
                            	<p>
	                            	FeedMix displays aggregated content from various sources 
                                    in central hub	                            	
                            	</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Login to our site</h3>
	                            		<p>Enter username and password to log on:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-lock"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom" ng-controller="LoginCtrl">
				                    <form role="form" action="/" method="post" class="login-form" ng-submit="submit($event)">
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-username">Email</label>
				                        	<input type="email" placeholder="Email..." class="form-email form-control" id="form-email" ng-model="login.email" required="required">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Password</label>
				                        	<input type="password" placeholder="Password..." class="form-password form-control" id="form-password" ng-model="login.password" required="required">
				                        </div>
				                        <!-- <button type="button" class="btn" ng-click="submit($event)">Sign in!</button> -->
                                        <div class="form-group">
                                         <button type="submit" class="btn" ng-disable="!logged"> <i class="fa fa-circle-o-notch fa-spin" ng-show="!logged"></i>  Sign in!</button>
                                        </div>
                                    
                                           <div class="form-group">
                                               <div class="form-group alert alert-danger" ng-show="user">
                                                  <strong>Sorry,</strong> user login credentials are not correct, please try again
                                                </div>
                                           </div>
				                    </form>
			                    </div>
		                    </div>
		                
                        <!-- this part is for new version 1.2 -->
		                	<!-- <div class="social-login">
	                        	<h3>...or login with:</h3>
	                        	<div class="social-login-buttons">
		                        	<a class="btn btn-link-2" href="#">
		                        		<i class="fa fa-facebook"></i> Facebook
		                        	</a>
		                        	<a class="btn btn-link-2" href="#">
		                        		<i class="fa fa-twitter"></i> Twitter
		                        	</a>
		                        	<a class="btn btn-link-2" href="#">
		                        		<i class="fa fa-google-plus"></i> Google Plus
		                        	</a>
	                        	</div>
	                        </div> -->
	                        
                        </div>
                        
                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>
                        	
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Sign up now</h3>
	                            		 <p>Fill in the form below to register:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action=""  method="post" class="registration-form" ng-submit="press($event)" ng-controller="RegistrationCtrl">
				                    	<div class="form-group" >
				                    		<label class="sr-only" for="form-first-name">First name</label>
				                        	<input type="text" ng-model="name" placeholder="First name..." class="form-first-name form-control" id="form-first-name"  required="required">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-last-name">Last name</label>
				                        	<input type="text" ng-model="surname" placeholder="Last name..." class="form-last-name form-control" id="form-last-name"  required="required">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-email">Email</label>
				                        	<input type="email" ng-model="email" placeholder="Email..." class="form-email form-control" id="form-email"  required="required">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Password</label>
                                            <input type="password" ng-model="password" placeholder="Password..." class="form-password form-control" id="form-password"  ng-keypress="keypress($event)" required="required">
				                        </div>
                                       <!--  <div class="form-group" ng-show="!isRegistered">
                                            <label class="sr-only" for="form-confpassword">ConfirmEmail</label>
                                            <input type="password" ng-model="confpassword" placeholder="Confirm Password..." class="form-confpassword form-control" id="form-confpassword" required="required">
                                        </div> -->
                                        <!-- Twitter followers -->
                                        <div class="form-group">
                                            <h5 class="source_name">Twitter</h5>
                                        </div>
                                        <div class="form-group" >
                                            <label class="sr-only">Accounts</label>
                                            <div class="tags">
                                            	<input type="text" data-role="tagsinput" placeholder="Accounts..." id="accounts" class="form-accounts form-control" ng-keypress="keypress($event)">
                                           </div>	
                                        </div>
                                         <!-- <div class="form-group" ng-show="!isRegistered">
                                            <label class="sr-only">Hashtags or queries</label>
                                            <div class="tags">
                                           		 <input type="text" data-role="tagsinput" placeholder="Hashtags or queries..." id="hashtags" class="form-hashtags form-control" ng-keypress="keypress($event)">
                                           	</div>
                                        </div> -->
                                        <!-- Reddit followers -->
                                        <div class="form-group">
                                            <h5 class="source_name">Reddit</h5>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only">Subreddits</label>
                                            <div class="tags">
                                            	<input type="text" data-role="tagsinput" placeholder="Subreddits..." id="subs" class="form-accounts form-control" ng-keypress="keypress($event)">
                                           </div>	
                                        </div>
                                         <div class="form-group">
                                            <label class="sr-only">Queries</label>
                                            <div class="tags">
                                           		 <input type="text" data-role="tagsinput" placeholder="Queries..." id="queries" class="form-hashtags form-control" ng-keypress="keypress($event)">
                                           	</div>
                                        </div>
                                        <!-- RSS links -->
                                        <div class="form-group">
                                            <h5 class="source_name">RSS</h5>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only">Links</label>
                                            <div class="tags">
                                            	<input type="text" data-role="tagsinput" placeholder="Links..." id="links" class="form-accounts form-control" ng-keypress="keypress($event)">
                                           </div>	
                                        </div>
				                        <!-- <button type="button" ng-show="isRegistered" ng-click="nextStep($event)" class="btn">Continue!</button> -->
                                        <div class="form-group">
                                           <button type="submit" ng-show="!isRegistered" ng-disabled="!registration" class="btn"><i class="fa fa-circle-o-notch fa-spin" ng-show="!registration"></i>  Sign me up!</button>
                                       </div>
                                        <div class="form-group alert alert-success" ng-show="registered">
                                              <strong>Congrats!</strong> {{name}}, you have successfully registered! Please login to the system.
                                        </div>
				                    </form>
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
<!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>Made by <a href="http://recommenderx.com" target="_blank"><strong>RecommenderX</strong></a></p>
        			</div>
        			
        		</div>
        	</div>
        </footer>