* { box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  background-color:  black;
  /*padding: 10px 0;
  border: 0px;*/
}

.navbar-right{
  padding-top:10px;
}
.posts{
  /*display: list-item;*/
  overflow-y:hidden;
 /*box-sizing: border-box;*/
}

.empty{
  text-align: center;
  color:white;
  font-family: "Times New Roman", Times, serif;
}
.btn-group{
  margin:20px;
  position: right;
  float: right;
  background-color: black;
}

.btn-group.fixed-theme{
  background-color: #222;
}

.btn{
  background-color: black;
  color: white;
  font-size: 19px;
}

.btn:hover{
  background-color: black;
  color: white;
  font-size: 19px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }*/

/* ---- isotope ---- */

.grid {
  border: 1px solid #333;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .post ---- */

.grid-item {
  /*position: relat;*/
  float: left;
  height: auto;
  width:280px;
  margin-left:33px;
  margin-bottom:20px;
  margin-top:-5px;
  /*margin-top:-45px;*/
  /*padding: 10px;*/
  /*margin-bottom: 10px;*/
  /*padding: 10px;*/
  /*background: #888;*/
  background-color: #262626;
}


.grid-item:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.grid-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.imag1 {
 height:auto;
 width: 100%;

}
.title a{

  text-align: left;
 /*background-color: rgba(0, 0, 0, .10);*/

  left:0;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: white;
  /*font-size: 1.6em;*/
  /*line-height: 1.2em;*/
  word-wrap: break-word;
  display: block;
  text-decoration: none;
}


.title a:hover{
  text-decoration: none;
}



.icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  padding: 5px; 

  background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.2));
}

.icon img {
 
  float: left;
  height: 20px;
  width: 20px;

}

.icon .date {
  float: right;
}
.des{

  color:white;
  font-size: 13px; 
  padding: 5px;
  text-decoration: none;
}

.des:hover{

  text-decoration: none;
}



.date{

color: white;
height: 20px;
  /*width: 20px;*/
}

.name {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: black;
}

.imag3{
    height: 25px;
    width: auto;
}

/*navbar*/
.navbar-logo img {
    padding-top: 5px;
    padding-bottom: 5px;
    height:100px;
    width: auto;
}


.btn-group{
  margin:20px;
  position: right;
  float: right;
  background-color: black;
}

.btn-group.fixed-theme{
  background-color: #222;
}

.btn{
  background-color: black;
  color: white;
  /*font-size: 25px;*/
}

.btn:hover{
  
  color: white;

}


.modal-content {
  /*height: 600px;
  overflow: auto;*/
  background-color: black;
} 


.modal-body {
  height: 600px;
  overflow: auto;
  background-color: black;
}


.modal-backdrop {
background-color: #424530;
}

.modal-backdrop.fade.in
{
opacity: .8; 
}



.imag4{
    height: 50px;
    width: auto;
}

.grid-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.grid-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}




/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}





/*.grid-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.grid-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.grid-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.grid-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.grid-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.grid-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.grid-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.grid-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.grid-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.grid-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }
*/