        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="bower_components/ng-inline-edit/dist/ng-inline-edit.min.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong><a href="/#/posts">FeedMix</a></strong></br>Settings</h1>
                            <div class="description">
                            	<p>
	                            	FeedMix displays aggregated content from various sources in central hub
                            	</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Your settings</h3>
	                            		<p>Press labels to change your current settings</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-key"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="" method="post" class="registration-form">
				                    	
                                        <!-- name -->
                                        <div class="row" ng-show="namehide">
                                            <div class="col-md-10">{{username}}</div>
                                            <div class="col-md-1 ">
                                                <a href="" class="btn btn-info" ng-click="editname($event, username)" >Edit</a>
                                            </div>
                                        </div>
                                        
                                        <div class="row" ng-show="!namehide"> 
                                            <div class="col-md-6">
                                                <input type="text" ng-model="edition.name" placeholder="First name..." id="name" class="form-first-name form-control" required/>
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-success" ng-click="savename($event)">Save</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-danger" ng-click="cancelname($event)">Cancel</button>
                                            </div>
				                        </div>

                                        <!-- surname -->
                                        </br>
                                        <div class="row" ng-show="surnamehide">
                                            <div class="col-md-10">{{usersurname}}</div>
                                            <div class="col-md-1">
                                                <a href="" class="btn btn-info" ng-click="editsurname($event, usersurname)" >Edit</a>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="!surnamehide"> 
                                            <div class="col-md-6">
                                                <input type="text" ng-model="edition.surname" placeholder="Last name..." id="name" class="form-last-name form-control" />
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-success" ng-click="savesurname($event)">Save</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-danger" ng-click="cancelsurname($event)">Cancel</button>
                                            </div>
                                        </div>
                                        
                                        <!-- email -->
                                        </br>
                                        <div class="row" ng-show="emailhide">
                                            <div class="col-md-10">{{useremail}}</div>
                                            <div class="col-md-1">
                                                <a href="" class="btn btn-info" ng-click="editemail($event, useremail)" >Edit</a>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="!emailhide"> 
                                            <div class="col-md-6">
                                                <input type="text" ng-model="edition.email" placeholder="Email..." id="name" class="form-email form-control" />
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-success" ng-click="saveemail($event)">Save</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-danger" ng-click="cancelemail($event)">Cancel</button>
                                            </div>
                                        </div>
                                        </br>
                                        <div class="tags">
                                                <input type="text" name="form-accounts" data-role="tagsinput" placeholder="Accounts..." id="useraccounts" class="tag form-accounts form-control" ng-keypress="keypressSetting($event)">
                                        </div>
                                        </br>
                                        <!-- <div class="tags">
                                                <input type="text" name="form-hashtags" data-role="tagsinput" placeholder="Hashtags or queries..." id="userhashtags" class="tag form-accounts form-control" ng-keypress="keypressSetting($event)">
                                        </div> -->
                                        </br>  
                                        <div class="tags">
                                                <input type="text" name="form-subs" data-role="tagsinput" placeholder="Subreddits..." id="usersubs" class="tag form-accounts form-control" ng-keypress="keypressSetting($event)">
                                        </div>
                                        </br>    
                                        <div class="tags">
                                                <input type="text" name="form-queries" data-role="tagsinput" placeholder="Queries..." id="userqueries" class="tag form-accounts form-control" ng-keypress="keypressSetting($event)">
                                        </div>
                                        </br> 
                                        <div class="tags">
                                                <input type="text" name="form-subs" data-role="tagsinput" placeholder="RSS links..." id="userlinks" class="form-accounts form-control" ng-keypress="keypressSetting($event)">
                                        </div>
                                        </br>   
				                        <!-- <div class="form-group">
				                        	<span ng-click="updateStyle($event)" inline-edit="surname"
                                                  inline-edit-btn-edit="Edit"
                                                  inline-edit-btn-save="Save"
                                                  inline-edit-btn-cancel="Cancel"></span>
				                        </div>
				                        <div class="form-group">
				                        	<span ng-click="updateStyle($event)" inline-edit="email"
                                                  inline-edit-btn-edit="Edit"
                                                  inline-edit-btn-save="Save"
                                                  inline-edit-btn-cancel="Cancel"></span>
				                        </div> -->
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
    				                           <button type="submit" ng-click='submit($event)' ng-disabled="processing" class="btn btn-success">
                                                <i class="fa fa-circle-o-notch fa-spin" ng-show="processing"></i> Update my settings</button>
                                           </div>

                                       </div>
                                   </br>
                                       <div class="row">
                                        <div class="col-md-12">
                                           
                                             <p class="wait" ng-show="wait">We are searching for your followers list, please wait</p>
                                            
                                        </div>
                                       </div>
                                        <div class="row">
                                           <div class="col-md-12">
                                               <div class="alert alert-warning" ng-show="invalid">
                                                  <strong>Warning!</strong> {{username}}, you have successfully updated your setting information, but the follower list below is not valid.
                                                  <p ng-if="accounts.length>0">
                                                    Account(s): <span ng-repeat="account in accounts">{{account}}</span>
                                                  </p>
                                                  <p ng-if="subs.length>0">
                                                     Subreddit(s): <span ng-repeat="sub in subs">{{sub}}</span>
                                                   </p>
                                                   <p ng-if="rsslinks.length>0">
                                                     RSS link(s): <span ng-repeat="rsslink in rsslinks">{{rsslink}}</span>
                                                   </p>
                                                </div>
                                           </div>
                                       </div>                           
                                    </br>                                           
                                    <div class="row">
                                       <div class="col-md-12">
                                           <div class="alert alert-success" ng-show="valid">
                                              <strong>Congrats!</strong> {{username}}, you have successfully updated your settings!
                                            </div>  
                                       </div>
                                   </div>
				                    </form>
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>

        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>Made by <a href="http://recommenderx.com" target="_blank"><strong>RecommenderX</strong></a></p>
        			</div>
        			
        		</div>
        	</div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>